.search{
  text-align: center;
  margin-top: 100px;
}

.input {
  text-align: center;
}

.input > input{
  height: 20px;
  margin-right: 10px;
  margin-top: 10px;
}

.input > button{
  height: 25px;
  border-radius: 3px;
}

.heading{
  background-color: #ebeced;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading > p {
  font-size: 80px;
}

.box{
  text-align: center;
}

.box > h3 {
  color: #78797a;
}

.top{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
  padding: 10px;
}

.container{
  border-style: solid;
  border-width: 1px;
  border-color: #e8e9eb;
  max-width: fit-content;
  max-height: fit-content;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  border-radius: 5px;
  background-color: #dee0e3;
}

.container > h5 {
  color: #78797a;
}

.container > img {
  width: 80px;
}
